<div class="image_image" data-id="{{id}}">
  <div>
    <a href="#" data-function="remove-picture" class="remove-button ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext" {{#unless value}}style="display:none;"{{/unless}}></a>
    <label for="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</label>
    <img id="{{id}}" name="{{id}}{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" {{#unless value}}style="display:none;"{{/unless}} src="{{value}}" />
  </div>
  <a href="#" data-function="get-picture" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-camera ui-btn-icon-left">{{t 'get-image-button'}}</a>
</div>
