<div data-id="{{id}}">
  <label for="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</label>
  <input type="text" name="{{id}}{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" id="{{id}}" value="{{value.value}}">
  <select name="{{id}}_unit{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" id="{{id}}_unit" value="{{value.unit}}" data-mini="true">
    {{#each options}}
      <option value="{{value}}" {{getSelected ../value.unit value}}>{{label}}</option>
    {{/each}}
  </select>
</div>
