<ul data-role="listview" data-theme="f" data-id="{{id}}">
  {{#each options}}
    <li>
      <a href="#" data-value={{value}}>{{label}} {{#if administrative_division}} - {{administrative_division}}{{/if}}{{#if required}}<span class="required"> *</span>{{/if}}
      </a>
    </li>
  {{/each}}
</ul>
