<ul data-role="listview" data-theme="f">
  {{#if surveys}}
    {{#each surveys}}
      <li>
        <a href="#" data-id="{{id}}">
          <h2>{{name}}</h2>
          <p>{{t 'form-type-label'}}: {{form.label}}</p>
          <p>{{t 'updated-label'}}: {{momentFromNow updatedDate}}</p>
          <p>{{t 'finished-label'}}: {{#if finished}}Sí{{else}}No{{/if}}</p>
        </a>
      </li>
    {{/each}}
  {{else}}
    <h3>{{emptyMessage}}</h3>
  {{/if}}
</ul>
