.splash {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.ui-loader.ui-body-a {
  border: none;
  background: none;
}

.ui-loader-background {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  z-index: 1000;
}

.ui-loading .ui-loader-background {
  display: block;
}

.ui-footer {
  padding-bottom: 0.1em;
}
.ui-footer .ui-btn {
  margin: 0;
}

form > .ui-collapsible-set {
  margin: 0;
}

.ui-content-no-padding {
  padding-top: 0;
}

fieldset.ui-collapsible-inset.collection-fieldset {
  margin-bottom: 1em;
}

.ui-btn.ui-mini {
  line-height: 0.5em;
  font-size: 0.85em;
}

.collection-group {
  border-bottom: 1px solid #3498db;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.image_image img {
  border: none;
  max-width: 100%;
  max-height: 10em;
}

.image_image .remove-button {
  position: relative;
  top: 2.7em;
  left: 1em;
}

.error {
  border: 1px solid red !important;
}

input[type="text"].read-only {
  border: #eee;
  color: #aaa;
  background-color: #eee;
}

.log {
  font-size: 0.85em;
}

span.required {
  color: red;
  font-weight: bold;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-btn-danger {
  background-color: transparent;
}

div#surveys-list .ui-content .ui-listview > li {
  margin-bottom: 1px!important;
}
